.body {
    background-color: #f5e7c4;
    font-family: Verdana, sans-serif;
}

hr {
    border-top: 1px dotted #b5ae9c;
}

a {
    padding-left: 20px;
    padding-right: 20px;
}

.button {
    min-height: 75px;
    width: 200px;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
}

.extra-margin {
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 15px;
}